.menu {
  display: flex;
  flex-direction: column;
}
.menu-item {
  border: 1px solid black;
  padding: 1em;
  margin: 0.5em;
  text-align: center;
}
.menu-item:hover {
  cursor: pointer;
}

.viewed {
  background-color: #f2f2f2;
}
.disabled {
  color: gray;
}
.rss-list {
  display: flex;
  flex-direction: column;
}
.rss-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid gray;
  justify-content: space-between;
}
.rss-title {
  padding: 8px;
}
.icons {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.filters {
  display: flex;
  flex-direction: row;
}
.filter {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
  border: 1px solid black;
}
.clickable:hover {
  cursor: pointer;
}
.active-filter {
  background-color: rgb(105, 173, 3);
}

@media only screen and (min-width: 768px) {
  .rss-list {
    max-width: 768px;
  }
}
