body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    display: none;
}

.rss-list::-webkit-scrollbar { width: 0 !important }

html {
    scrollbar-width: none;
}

@media only screen and (min-width: 768px) {
  #root {
    max-width: 768px;
    margin: auto;
  }
}
